@import "/src/vars.scss";

.hero {
  display: grid;
  position: relative;
  place-items: center;
  height: 700px;
  background-color: $surface2-dark;
  width: 100%;
  padding: 48px;
  .content {
    display: flex;
    flex-direction: row;
    column-gap: 64px;
    align-items: center;
    justify-content: center;
    .information {
      max-width: 600px;
      width: fit-content;
      transform: translateY(-200px);
      display: grid;
      row-gap: 24px;
      h1 {
        color: $brand-dark;
        font-size: 64px;

        line-height: 72px;
      }
      p {
        max-width: 600px;
        line-height: 36px;
        color: $text2-dark;
        font-size: 24px;
        width: fit-content;
      }
    }
  
  }
}
