@import "/src/vars.scss";

.hero {
  display: grid;
  position: relative;
  place-items: center;
  height: 700px;
  background-color: $surface2-dark;
  width: 100%;
  padding: 48px;
  .content {
    display: flex;
    flex-direction: row;
    column-gap: 64px;
    align-items: center;
    justify-content: center;
    .information {
      max-width: 600px;
        width: fit-content;
      display: grid;
      row-gap: 24px;
      h1 {
        color: $brand-dark;
        font-size: 72px;
        filter: drop-shadow(
            0px 2.8px 1.9px
              hsl-str($brand-hue, 50%, (3% / ($shadow-strength + 0.03)))
          )
          drop-shadow(
            0px 6.7px 4.7px
              hsl-str($brand-hue, 50%, calc(3% / ($shadow-strength + 0.01)))
          )
          drop-shadow(0px 22.3px 15.6px rgba(0, 0, 0, 0.085))
          drop-shadow(0px 41.8px 29.2px rgba(0, 0, 0, 0.097))
          drop-shadow(0px 100px 70px rgba(0, 0, 0, 0.14));
        line-height: 82px;
      }
      p {
        max-width: 600px;
        line-height: 36px;
        color: $text1-dark;
        font-size: 24px;
        width: fit-content;
      }
    }
    .logo {
      //   position: absolute;

      //  / top: 50%;
      //   left: 50%;
      ///   transform: translate(-50%, -50%) scale(1.8);
      //  filter: opacity(0.3);
      svg {
        width: 400px;
        height: 400px;
        filter: drop-shadow(
            0px 2.8px 1.9px
              hsl-str($brand-hue, 50%, (3% / ($shadow-strength + 0.03)))
          )
          drop-shadow(
            0px 6.7px 4.7px
              hsl-str($brand-hue, 50%, calc(3% / ($shadow-strength + 0.01)))
          )
          drop-shadow(0px 22.3px 15.6px rgba(0, 0, 0, 0.085))
          drop-shadow(0px 41.8px 29.2px rgba(0, 0, 0, 0.097))
          drop-shadow(0px 100px 70px rgba(0, 0, 0, 0.14));

        path {
          fill: $brand-dark;
        }
      }
    }
  }
}
