.containerItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 8px 0px;
  border-bottom: 2px solid #333333;
}
.containerItem .disabled {
  border-color: #333333;
  color: red;
}
.disabled .itemDescription .status .name {
  color: #333333;
}
.disabled .itemReputation .points {
  color: #333333;
}
.disabled .itemReputation svg path {
  fill: #333333;
}
.itemReputation {
  display: flex;
  align-items: center;
  width: auto;
  column-gap: 8px;
}
.itemDescription {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 12px;
}
.itemDescription .status .name {
  font: normal normal 14px/14px Poppins;
  color: #fff;
  font-weight: 600;
}
.itemDescription .status {
  display: grid;
  text-align: left;
  row-gap: 6px;
}
.PENDING,
.REJECTED {
  font-size: 12px;
  font-weight: 600;
}
.REJECTED {
  color: #e94342;
}
.PENDING {
  color: #22c5fd;
}
.points {
  font: normal normal 20px/20px PoppinsBold;
  color: #fff;
}
.APPROVED {
  color: rgb(172, 253, 0);
}
.itemDescription img {
  width: 20px;
  height: 20px;
}
@media (min-width: 320px) {
  .containerItem {
    border: none;
    background: #202020;
    border-radius: 12px;
    padding: 24px;
  }
}
@media (min-width: 800px) {
  .containerItem {
    padding: 0 8px 8px 0px;
    border-bottom: 2px solid #333333;
    background: transparent;
    border-radius: 0;
  }
}
