@import "/src/vars.scss";

.footer {
  display: grid;
  width: 100%;
  height: 70px;
  background-color: $surface1-dark;
  border-top: $border;
  padding: 0 88px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  .logo {
    display: flex;
    column-gap: 12px;
    align-items: center;
    span{

      font-size: 24px;
      color: $text2-dark;
      font-weight: 400;
    }
    svg {
      width: 36px;
      height: 36px;
      path {
        fill: $brand-dark;
      }
    }
  }
}
